@model LogsViewModel

@{
    ViewBag.Title = "Logs";
}

<form id="form-pesquisar">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <input asp-for="DataInicial" type="text" class="form-control" placeholder="Data Inicial" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input asp-for="DataFinal" type="text" class="form-control" placeholder="Data Final" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <select asp-for="Tipo" asp-items="Html.GetEnumSelectList(typeof(Roleplay.Models.TipoLog))" class="form-control">
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input asp-for="PersonagemOrigem" type="text" class="form-control" placeholder="Origem" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input asp-for="PersonagemDestino" type="text" class="form-control" placeholder="Destino" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input asp-for="Descricao" type="text" class="form-control" placeholder="Descrição" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-md-2">
            <button id="btn-pesquisar" type="button" class="btn btn-primary btn-block">Pesquisar</button>
        </div>
    </div>
</form>
<hr />
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th rowspan="2" style="vertical-align: middle;">Tipo</th>
                <th rowspan="2" style="vertical-align: middle;">Data</th>
                <th rowspan="2" style="vertical-align: middle;">Descrição</th>
                <th colspan="5" class="text-center">Origem</th>
                <th colspan="5" class="text-center">Destino</th>
            </tr>
            <tr>
                <th>Personagem</th>
                <th>IP</th>
                <th>SocialClub</th>
                <th>HardwareIdHash</th>
                <th>HardwareIdExHash</th>
                <th>Personagem</th>
                <th>IP</th>
                <th>SocialClub</th>
                <th>HardwareIdHash</th>
                <th>HardwareIdExHash</th>
            </tr>
        </thead>
        <tbody id="tbody-logs">
            <tr>
                <td colspan="13" class="text-center">
                    Nenhum log encontrado.
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $('#@nameof(Model.DataInicial)').mask('00/00/0000 00:00:00');
        $('#@nameof(Model.DataFinal)').mask('00/00/0000 00:00:00');

       $("#btn-pesquisar").click(function () {
           iniciarLoadingOverlay();

           var form = $("#form-pesquisar").serializeArray();
            $.post("@Url.Action("Pesquisar", "Logs", new { area = "Admin" })", form, function (request) {
                finalizarLoadingOverlay();
                $('#tbody-logs').html(request);
            });
       });
    });
    </script>
}