@model AplicacoesPersonagensViewModel

@{
    ViewBag.Title = "Aplicações de Personagens";
}

@if (Model.Codigo == 0)
{
    <div class="text-center">
        <p>Não há nenhuma aplicação para avaliação.</p>
    </div>
}
else
{
    <form id="form-app">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group mb-3">
                    <label for="Codigo">Código</label>
                    <input asp-for="Codigo" type="text" class="form-control" readonly />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Nome">Nome</label>
                    <input asp-for="Nome" type="text" class="form-control" readonly />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Sexo">Sexo</label>
                    <input asp-for="Sexo" type="text" class="form-control" readonly />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Nascimento">Nascimento</label>
                    <input asp-for="Nascimento" type="text" class="form-control" readonly />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="DataRegistro">Registro</label>
                    <input asp-for="DataRegistro" type="text" class="form-control" readonly />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="OOC">OOC</label>
                    <input asp-for="OOC" type="text" class="form-control" readonly />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Historia">História</label>
                    <textarea asp-for="Historia" rows="10" class="form-control" readonly></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Motivo">Motivo da Rejeição</label>
                    <textarea asp-for="Motivo" rows="10" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button id="btn-nova" type="button" class="btn btn-dark btn-block">Nova Aplicação</button>
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-2">
                <button id="btn-aceitar" type="button" class="btn btn-success btn-block">Aceitar</button>
            </div>
            <div class="col-md-2">
                <button id="btn-negar" type="button" class="btn btn-danger btn-block">Negar</button>
            </div>
        </div>
    </form>

    @section Scripts {
        <script type="text/javascript">
        $(document).ready(function () {
            $("#btn-nova").click(function () {
                location.reload(true);
            });

            $("#btn-aceitar").click(function () {
                iniciarLoadingOverlay();
                $.post("@Url.Action("Aceitar", "AplicacoesPersonagens", new { area = "Admin", codigo = Model.Codigo })", function (request) {
                    finalizarLoadingOverlay();
                    $.alert(request);
                });
            });

            $("#btn-negar").click(function () {
                iniciarLoadingOverlay();
                var form = $("#form-app").serializeArray();
                $.post("@Url.Action("Negar", "AplicacoesPersonagens", new { area = "Admin" })", form, function (request) {
                    finalizarLoadingOverlay();
                    $.alert(request);
                });
            });
        });
        </script>
    }
}